img {
    width: 400px;
}
h1 {
    color: rgb(211, 31, 31);
}
#thirdDiv {
    height: 600px;
    width: 500px;
    background-color: rgb(243, 201, 63);
    padding: 50px;
    border: 10px outset orangered;
}
#spanId {
    font-size: 18px;
    margin: 50px;
}